.gallery{
  
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    height: 50vh;
}
.container{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}