<div class="modal-header">
  <h4 class="modal-title">Hi ! your orders</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="wrap">
    <div *ngFor="let item of products">
      <p>{{item.product.name}}</p>
      <input type="number" [value]="item.Quantity" class="num" (input)="changeQuantity($event,item.product.id)">
    </div>
    <button (click)="SubmitOrder()" *ngIf="products.length!=0" class="custbtn">Submit Order</button>
    <p *ngIf="products.length==0">your cart is empty</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>