<div class="modal-header">
  <h4 class="modal-title">Hi there! your orders</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">

  <div *ngFor="let item of products">
    <p>{{item.product.name}}</p>
    <input type="number" [value]="item.Quantity" class="num" (input)="change($event,item.product.id)">
  </div>
  <button (click)="SubmitOrder()" *ngIf="products.length!=0">Submit Order</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>