button{
    margin-bottom: 0px;
    background-color: #388087;
    color: white;
    width: 200px;
    height: 50px;
    border:none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
button:hover{
    background-color:#18383b;
}

.wrap{
   width: 40vw !important;
   height: 20vh !important;
    display: flex  !important;
    justify-items: center  !important;
    align-items: center  !important;
}