<div class="container">
    <div class="form">
        <h1>Log In</h1>
        <div class="inputContainer">
            <input type="email" id="email" placeholder="E-mail">
            <i class="fas fa-exclamation-circle exclamation" id="emailExclamation"></i>
        </div>
        <div class="checkDiv" id="emailcheck"></div>

        <div class="inputContainer">
            <input type="password" id="password" placeholder="password">
            <i class="fas fa-exclamation-circle exclamation" id="passwordExclamation"></i>
        </div>
        <div class="checkDiv" id="passwordCheck"></div>

        <button id="loginButton">Log In</button>
    </div>
</div>