

.container{
    width: 85vw;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
h1{
    color: rgb(33, 37, 41);
    margin-bottom: 50px;
}
td,th{
    text-align: center;
}
.m {
    font-family: sans-serif !important;
}
td a{
    
    font-size: 3em;

}
.green{
    color: green !important;
}
.red{
    color: red !important;
}