<div class="container">
  <h1>Orders</h1>
  <p *ngIf="orders.length==0">No orders!</p>
  <table class="table table-hover" *ngIf="orders.length!=0">
    <thead>
      <tr>
        <th scope="col">Order Number</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity Required</th>
        <th scope="col">Stock</th>
        <th scope="col">Approval</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders; let i=index;">
        <tr *ngFor="let orderitem of order.orderItems;let x=index;">
          <th scope="row">{{i+1}}</th>
          <td>{{orderitem.product.name}}</td>
          <td>{{orderitem.productQuantity}}</td>
          <td>{{orderitem.product.stock}} </td>
          <td [ngClass]="{'green':order.approval==true,'red':order.approval==false}">
            <ng-container *ngIf="order.approval==false">
              <button *ngIf="x==0" (click)="Approve(order.id)">A</button>
            </ng-container>
            <ng-container *ngIf="order.approval==true">
              <button *ngIf="x==0" (click)="Reject(order.id)">R</button>
            </ng-container>
            <p *ngIf="order.approval==true">Approved</p>

          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>