/* You can add global styles to this file, and also import other style files */
body{
    background-color:#f6f6f2;
    font-family: "indie", sans-serif;
    color: rgb(33, 37, 41);
    height: 97vh;
    display: flex;
    justify-content: center;
   
}
.wrapper{
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-items: center;
    align-items: center;
}
.wrap{
    height: 25vh;
    width: 500px;
    max-height: 95vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.custbtn{
    margin-top: 20px;
    background-color: #388087;
    color: white;
    width: 150px;
    height: 40px;
    border:none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.num{
    display: inline;
    width: 50px;
    height: 30px;

}
@font-face {
    font-family: indie;
    src: url(./assets/Fonts/IndieFlower-Regular.ttf);
    font-weight: bold;
  }